<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app shares Heart Rate with HealthKit</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app uses HealthKit to get Heart Rate from the user to display on the app. </string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Health Records</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>LandonPattison.VentilatoryThresholds.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
</dict>
</plist>
